:root
{
    --fuentePrincipal: 'Public Sans', sans-serif;
    --fuenteSecundaria: 'Cormorant', serif;
    --fuenteTerciaria: 'Charm', sans-serif;
   /*  --colorPrincipal: */ 

    --colorNegro: #000000;
    --colorBlanco: #FFFFFF;
    --colorGris: #808080;
    --colorCafe: #856229;

}

/* Globales */
html{
    box-sizing: border-box;
    font-size: 62.5%; /*1 rem  = 10px*/
}
*,**:before,*:after{
    box-sizing: inherit;
}

/*Utilziades*/
.contenedor{
    width: min(90%, 120rem);
    margin: 0 auto;
}
a{text-decoration: none;}

h1,h2,h3,h4{font-family: var(--fuentePrincipal);line-height: 1.2;}

h1{font-size: 4.8rem;}
h2{font-size: 4rem;}
h3{font-size: 3.2rem;}
h4{font-size: 2.8rem;}

img{max-width: 100%;}

.no-margin{margin: 0;}      
.no-padding{padding: 0;}
.centrar-texto{text-align: center;}

body{
    background-image: linear-gradient(to top, #DCB9A6 0%, var(--colorBlanco) 20%); 
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Navegacion */
.navegacion{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
}
.navegacion--logo img {
    max-width: 30%;
    padding: 2rem;
    cursor: pointer;
}
.navegacion--home{
    display: flex;
    gap: 5rem;
    font-size: 2.2rem;
    font-family: var(--fuenteTerciaria);
    color: var(--colorCafe);
    font-weight: normal;
    transition: all 0.1s ease;
}
.navegacion--home h2:hover{
    color: var(--colorCafe);
    transform: scale(1.2);
}
@media (min-width: 768px ) 
{
    .navegacion--home{
        font-size: 4rem;
    }
}
.opcion--activa{
    color: var(--colorCafe);
    font-weight: bold;
}
/* Bannmer Cuna/Nido */
.banner--contenedor {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
@media (min-width: 768px) 
{
    .banner--contenedor {
        width: 70%;
    }
}
.banner--imagen{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
    border-radius: 2%;
}

/* Titulo "Nueva Coleccion" */
.productos--titulo{
    font-family: var(--fuenteTerciaria);
    font-size: 3.5rem;
    font-weight: 400;
    color: #DCB9A6;
    margin: 2rem 0;
}
@media (min-width: 768px) 
{
    .productos--titulo{
        font-size: 5rem;
    }
}
/* Productos */
.productos--contenedor{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr)); 
    gap: 2rem;
    padding: 1rem;
    margin: 0 auto;
    
}
@media (min-width: 900px)
{
    .productos--contenedor{
        width: 65%;
    }
} 
.producto{
    padding: 1rem;
}
.producto--imagen{
    border-radius: 1.5%;
    
}
.producto--nombre{
    font-family: var(----fuenteSecundaria);
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 0;
    color:var(--colorCafe);
}
.producto--descripcion{
    font-size: 1.5rem;
    font-family: var(--fuentePrincipal);
    color:var(--colorCafe);
}
/* Footer */
.footer--texto{
    font-family: var(--fuenteTerciaria);
    font-size: 3rem;
    color: var(--colorCafe);
    text-align: center;
    padding: 2rem;
    margin: 0;
}
.footer--redesSociales{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    
}
.footer--redesSociales__instagram,
.footer--redesSociales__facebook{
    display: flex;
    align-items: center;
    background-color: var(--colorBlanco);

    border-radius: 50%;
    padding: .5rem;

}
.footer--enlace:hover{
    color: var(--colorCafe);
    transform: scale(1.2);
}
/* About Us*/
.aboutUs--contenedor{
    display: grid;
    align-items: center ;
    gap: 2rem;
    padding: 3rem;
    
}
@media (min-width: 768px)
{
    .aboutUs--contenedor{
        grid-template-columns: 1fr 2fr;
        padding: 5rem;
    }
}
.aboutUs--informacion{
    color: var(--colorCafe);
}
.titulo--aboutUs{
    font-family: var(--fuenteTerciaria);
    font-size: 5rem;
    font-weight: normal;
    margin-bottom: 1rem;
}
.titulo--aboutUs span{
    font-family: var(--fuentePrincipal);
    text-transform: uppercase;
    font-size: 3rem;
}
.linea--aboutUs{
    border-bottom: solid 0.5rem var(--colorCafe);
    width: 65%;
}
.texto--aboutUs{
    font-size: 2rem;
}
@media (min-width: 768px) 
{
    .texto--aboutUs{
        font-size: 2.6rem;
    }
}
.aboutUs--imagen{
    width: 100%;
    border-radius: 2%;
}
